.tree ul {
    list-style-type: none;
    position: relative;
    padding-left: 1em;
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #369;
    font-weight: 700;
    position: relative;
}

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    left: -1em;
}

.tree li::before {
    border-left: 1px solid #000;
    bottom: 0.5em;
    height: 100%;
    top: -0.5em;
    width: 1em;
}

.tree li::after {
    border-top: 1px solid #000;
    height: 1em;
    top: 1em;
    width: 1em;
}

.tree li:last-child::before {
    height: 1em;
}

.caret::before {
    content: '\25B6';
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.folder-icon::before {
    content: '\1F4C1'; /* Folder icon */
    margin-right: 6px;
}

.file-icon::before {
    content: '\1F4C4'; /* File icon */
    margin-right: 6px;
}
